In [11]:
import yaml
from data_formatter.base import DataFormatter

In [12]:
dataset = 'colas'
with open(f'./config/{dataset}.yaml', 'r') as f:
    config = yaml.safe_load(f)
formatter = DataFormatter(config)

--------------------------------
Loading column definition...
Checking column definition...
Loading data...
Dropping columns / rows...
Checking for NA values...
Setting data types...
Dropping columns / rows...
Encoding data...
	Updated column definition:
		id: REAL_VALUED (ID)
		time: DATE (TIME)
		gl: REAL_VALUED (TARGET)
		gender: REAL_VALUED (STATIC_INPUT)
		age: REAL_VALUED (STATIC_INPUT)
		BMI: REAL_VALUED (STATIC_INPUT)
		glycaemia: REAL_VALUED (STATIC_INPUT)
		HbA1c: REAL_VALUED (STATIC_INPUT)
		follow.up: REAL_VALUED (STATIC_INPUT)
		T2DM: REAL_VALUED (STATIC_INPUT)
		time_year: REAL_VALUED (KNOWN_INPUT)
		time_month: REAL_VALUED (KNOWN_INPUT)
		time_day: REAL_VALUED (KNOWN_INPUT)
		time_hour: REAL_VALUED (KNOWN_INPUT)
		time_minute: REAL_VALUED (KNOWN_INPUT)
Interpolating data...
	Dropped segments: 63
	Extracted segments: 205
	Interpolated values: 241
	Percent of values interpolated: 0.22%
Splitting data...
	Train: 72275 (45.89%)
	Val: 35713 (22.68%)
	Test: 38253 (24.29%)
	Test OOD: 11242 (7.14%)
Scaling data...
	No scaling applied
Data formatting complete.
--------------------------------

In [13]:
print(formatter.train_data)

print(formatter.test_data)

                      time     id     gl  gender   age   BMI  glycaemia  \
0      2012-01-01 00:00:00    0.0   86.0     1.0  77.0  25.4      106.0
1      2012-01-01 00:05:00    0.0   81.0     1.0  77.0  25.4      106.0
2      2012-01-01 00:10:00    0.0   78.0     1.0  77.0  25.4      106.0
3      2012-01-01 00:15:00    0.0   76.0     1.0  77.0  25.4      106.0
4      2012-01-01 00:20:00    0.0   76.0     1.0  77.0  25.4      106.0
...                    ...    ...    ...     ...   ...   ...        ...
108662 2012-01-02 11:35:00  207.0  111.0     1.0  67.0  26.6      101.0
108663 2012-01-02 11:40:00  207.0  110.0     1.0  67.0  26.6      101.0
108664 2012-01-02 11:45:00  207.0  110.0     1.0  67.0  26.6      101.0
108665 2012-01-02 11:50:00  207.0  111.0     1.0  67.0  26.6      101.0
108666 2012-01-02 11:55:00  207.0  112.0     1.0  67.0  26.6      101.0

        HbA1c  follow.up  T2DM  time_year  time_month  time_day  time_hour  \
0         6.3      413.0   0.0     2012.0         1.0       1.0        0.0
1         6.3      413.0   0.0     2012.0         1.0       1.0        0.0
2         6.3      413.0   0.0     2012.0         1.0       1.0        0.0
3         6.3      413.0   0.0     2012.0         1.0       1.0        0.0
4         6.3      413.0   0.0     2012.0         1.0       1.0        0.0
...       ...        ...   ...        ...         ...       ...        ...
108662    5.6     1168.0   0.0     2012.0         1.0       2.0       11.0
108663    5.6     1168.0   0.0     2012.0         1.0       2.0       11.0
108664    5.6     1168.0   0.0     2012.0         1.0       2.0       11.0
108665    5.6     1168.0   0.0     2012.0         1.0       2.0       11.0
108666    5.6     1168.0   0.0     2012.0         1.0       2.0       11.0

        time_minute  id_segment
0               0.0           0
1               5.0           0
2              10.0           0
3              15.0           0
4              20.0           0
...             ...         ...
108662         35.0         204
108663         40.0         204
108664         45.0         204
108665         50.0         204
108666         55.0         204

[72275 rows x 16 columns]
                      time     id     gl  gender   age   BMI  glycaemia  \
315    2012-01-02 02:15:00    0.0  101.0     1.0  77.0  25.4      106.0
316    2012-01-02 02:20:00    0.0  102.0     1.0  77.0  25.4      106.0
317    2012-01-02 02:25:00    0.0  103.0     1.0  77.0  25.4      106.0
318    2012-01-02 02:30:00    0.0  104.0     1.0  77.0  25.4      106.0
319    2012-01-02 02:35:00    0.0  104.0     1.0  77.0  25.4      106.0
...                    ...    ...    ...     ...   ...   ...        ...
100170 2012-01-02 23:35:00  189.0  152.0     0.0  58.0  27.6      122.0
100171 2012-01-02 23:40:00  189.0  151.0     0.0  58.0  27.6      122.0
100172 2012-01-02 23:45:00  189.0  148.0     0.0  58.0  27.6      122.0
100173 2012-01-02 23:50:00  189.0  145.0     0.0  58.0  27.6      122.0
100174 2012-01-02 23:55:00  189.0  143.0     0.0  58.0  27.6      122.0

        HbA1c  follow.up  T2DM  time_year  time_month  time_day  time_hour  \
315       6.3      413.0   0.0     2012.0         1.0       2.0        2.0
316       6.3      413.0   0.0     2012.0         1.0       2.0        2.0
317       6.3      413.0   0.0     2012.0         1.0       2.0        2.0
318       6.3      413.0   0.0     2012.0         1.0       2.0        2.0
319       6.3      413.0   0.0     2012.0         1.0       2.0        2.0
...       ...        ...   ...        ...         ...       ...        ...
100170    5.6      677.0   0.0     2012.0         1.0       2.0       23.0
100171    5.6      677.0   0.0     2012.0         1.0       2.0       23.0
100172    5.6      677.0   0.0     2012.0         1.0       2.0       23.0
100173    5.6      677.0   0.0     2012.0         1.0       2.0       23.0
100174    5.6      677.0   0.0     2012.0         1.0       2.0       23.0

        time_minute  id_segment
315            15.0           0
316            20.0           0
317            25.0           0
318            30.0           0
319            35.0           0
...             ...         ...
100170         35.0         186
100171         40.0         186
100172         45.0         186
100173         50.0         186
100174         55.0         186

[49495 rows x 16 columns]

In [10]:
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))
from build_prompt import RAGpromptFactory
from RAG.darts_retriever import build_retriever_from_dataset
from darts import TimeSeries
from utils.darts_dataset import SamplingDatasetInferenceDual

NameError: name 'sys' is not defined